.container{
    max-width: 1400px;
    margin: auto;
}
.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet; }

#vinos-argentinos .container{
    text-align: center;
    padding: 200px 12px;
}

#vinos-argentinos .container{
    text-align: center;
    padding: 200px 12px;
}
